{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="page-section">
  <div class="home-btn">
  <a href="{% url 'home' %}" class="btn home">Home</a>
</div>
  <div class="workout-card">
    <h1>Diet Log</h1>

    <form method="POST">
      {% csrf_token %}
      <input type="text" name="meal" placeholder="Meal type (e.g. Breakfast)" required>
      <input type="text" name="food_item" placeholder="Food item" required>
      <input type="number" name="calories" placeholder="Calories consumed" required>
      <button type="submit" class="btn">Add Meal</button>
    </form>

    <div class="form-links">
      <a href="{% url 'diet_history' %}" class="btnw">View Logs</a>
      <a href="{% url 'dashboard' %}" class="btnw">Back</a>
    </div>
  </div>
</section>
{% endblock %}
