{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home-section">
  <div class="top-right-buttons">
    
  {% if user.is_staff %}
    <a href="/admin/" class="btn admin-btn">Admin</a>
  {% endif %}
    <a href="{% url 'logout' %}" class="btn outline">Logout</a>
</div>

  <div class="left"></div>

  <div class="right">
    <h1>Fit<br>Frenzy</h1>
    <p>Fuel your Fitness, feel the Frenzy</p>
    <h3 class="welcome">Welcome {{ user.username }}!</h3>

    
    <div class="buttons"><br>
    <a href="{% url 'profile' %}" class="btn">My Profile</a>        <a href="{% url 'dashboard' %}" class="btn">Get Started</a>
    </div>
  </div>
</section>
{% endblock %}
