{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="workout-history-section">
  <div class="overlay">
    <h2>Your Workout History</h2>

    {% if workouts %}
      <table class="workout-table full">
        <thead>
          <tr>
            <th>Date</th>
            <th>Workout</th>
            <th>Duration (min)</th>
            <th>Calories</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for w in workouts %}
            <tr>
              <td>{{ w.date }}</td>
              <td>{{ w.workout }}</td>
              <td>{{ w.duration }}</td>
              <td>{{ w.calories }}</td>
              <td class="action-buttons">
                <a href="{% url 'edit_workout' w.id %}" class="edit-btn">Edit</a>
                <a href="{% url 'delete_workout' w.id %}" class="delete-btn">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No workouts logged yet.</p>
    {% endif %}
<br>
    <a href="{% url 'workout' %}" style= " text-decoration: none; padding: 10px 25px; color: black; background-color: white;">Back to Log</a>
  </div>
</section>
{% endblock %}
